body {
    display: block;
    font-family: 'Work Sans';font-size: 22px;
}

/* header section */

.header-section{

    height: 1000px;
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);;
    justify-content: space-between;
}
.header-left-div{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
}
.header-left-div p{
    font-size: 32px;
}
.header-right-div{
    color: #424242;
    display: flex;
    gap: 50px;
    align-items: center;
    padding-right: 140px;
    font-size: 15px;
}


.header-title-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.header-title{

    height: 255px;
    width: 862px;
    text-align: center;
}
.title-head{
    text-align: center;

    font-size: 42px;
    margin-bottom: 15px;
}
.title-p{
    font-size: 13px;
    color: #727272;
    margin-bottom: 10px;
}
.explore-button{
    height: 45px;
    width: 130px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #FF900E;
    border: none;
    color: white;
    margin-top: 22px;
}
.header-img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.header-img > img{
    height: 500px;
    width: 1020px;
}


            /* first container */
        /* Meain featured section */


.first-container{
    gap: 55px;
    width: 900px;
    height: 500px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 80px;
    display: flex;
}
.images-first-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}
.images-first-div img{
    height: 210x;
    width: 210px;
}
.features-title{

     width: 400px;                           
    font-size: 33px;
    color: #727272;
}
.of-our{
    color: #131313;
}
.features{
    color: #FF900E;
}
.features-details {
    font-size: 14px;
    color: #727272;

    width: 530px;
    margin-top: 26px;
}
.details-second-div{
    display: flex;
    flex-direction: column;
    justify-content: center;

}


                /* second container */
.second-container{
    height: 800px;
    gap: 70px;
    display: flex;
    justify-content: center;
}
.second-container-first-div{
    width: 450px;
}
.second-container-title{
    height: 80PX;
    font-size: 35px;
    border-left:5px solid #FF900E;
    margin-top: 40PX;
    margin-left: -10px;
    padding-left: 20px;
}
.features-details-two {
    font-size: 14px;
    color: #727272;

    width: 530px;
    margin-top: 26px;
    margin-left: -10px;
}
.second-container-sub-title{
    margin: -10px;
    padding-left: 20px;
    padding-top: 10px;

    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
.second-container-title-details{
    font-size: 16px;
    color: #727272;

    width: 530px;
    margin-top: 20PX;
}
.second-container-p{
    position: relative;
    font-size: 14px;
    color: #727272;

    width: 450px;
    margin-top: 10px;
}
.second-container-second-div img{
    margin-bottom: 70px;
    height: 700px;
    width: 500px;
}
.bottom-button{
    font-size: 30px;
    height: 90px;
    width: 150px;
    background-color:#FF900E ;
    color: white;
    border: none;
    border-radius: 5px;
}
.experience{
 font-size: 20px;
}
.button-div{
    position: relative ;
    top: -190px;
    left: -40px;
    z-index: 10;
}


            /* third-container */



.third-container{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.third-container-title{
    font-size: 30px;
    padding-left: 150px;
}
.third-container-details{
    font-size: 14px;
    color: #727272;
    width: 530px;
    margin-top: 24px;
    padding-left: 150px;
}
.item-div{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 75px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 5px;
    width: 160px;
    height: 160px;
    justify-content: center;
    margin-bottom: 70px;
}
.item:hover{
    width: 180px;
    height: 180px;
    background-color: aqua;
    border:2px dashed rgb(238, 44, 30);
    transform: rotate(135deg);
    transition: width ease,height 5s,transform 5s;
}
.item img{
    height: 30px;
    width: 30px;
}
.number{
    font-size: 28px;
    color: #424242;
}
.p{
    font-size: 15px;
    color: #727272;
}


            /* sumething-different */


.sumething-different{
    display: flex;
    justify-content: center;
}
.meain-border-div{
    border: 1px solid yellow;
    background-color: #797dbb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.border-div{
    background-color: #73c4e4;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    flex-direction: column;
    text-align: center;
}
.sub-border-div{
    background-color: white;
    border-radius: 10px;
    margin: 10px;

}
.ul-div{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.ul-div li{
    text-align: center;
    color: rgb(255, 0, 0);
    border: 1px solid #f11313;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #b2ce36;
}


                /* sponspors container */


.fourth-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 70px;
}
.fourth-container-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.fourth-container-details{
    color: #727272;
    font-size: 14px;
    text-align: center;
    margin-bottom: 35px;
}
.fourth-img-container{
    display: flex;
    justify-content: space-evenly;
}
.ami-img{
    height: 35px;
    width: 120px;
}


                    /* footer section */


.footer-section{
    font-size: 15px;
    height: 50px;
    width: 1000px;
    margin-left: 170px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #424242;
    background-color: #FFF4E7;
    margin-bottom: 80px;
}
hr{
    display: none;
}


                        /* media query */

                        /* small/mobile device */


@media screen and (max-width:576px) {

    body{
        margin-bottom: 700px;
        width: 100%;
    }
    .header-section{
        height: 980px;
        width: 100%;
    }
    .header-left-div{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 80px;
        margin-top: -20px;
    }
    .header-right-div{
        color: #424242;
        display: flex;
        flex-direction: column;
        padding-left: 55px;
        font-size: 15px;
        margin-top: 15px;
    }
    .header-right-div >nav{
        margin-top: -30px;
        border-radius: 5px;
        background-color: #797dbb;
        color: white;
        padding: 5px;
    }
    hr{
        display: flex;
        margin-left: 80px;
        margin-top: 20px;
        border: 1px dashed rgb(230, 218, 113);
        width: 300px;
        margin-bottom: -20px;
    }
    .header-img > img{
        height: 350px;
        width: 300px;
    }
    .title-head{
        margin-top: -10px;
        font-size: 30px;
    }
    .title-p{
        font-size: 9px;
    }

    .first-container{
        width: 100%;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 1000px;

    }
    .images-first-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .details-second-div{
        align-items: center;
    }
    .features-title{
        margin-left: -10px;

        margin-left: 30px;
        text-align: center;
    }
   .features-details{
        font-size: 12px;
        text-align: center;
    }
    



                /* second container */


.second-container{
    margin-top: 1050px;
    flex-direction: column;
    text-align: center;
}
.second-container-title{
    margin-left: 30px;
    width: 400px;
}
.features-details-two{
    font-size: 12px;
}
.second-container-second-div img{
    margin-top: -20px;
    margin-bottom: 70px;
    height: 400px;
    width: 350px;
}
.button-div> button {
    position: absolute;
    margin-top: 140px;
    margin-left: -40px;
    margin-bottom: 32px;
}


                    /* third container */


.third-container{

    margin-left: -155px;
    margin-top: 260px;
}
.item-div{
    flex-direction: column;
    align-items: center;
}                   
.item{
    margin-bottom: -60px;
}



                        /* sumething-different */

.sumething-different{
    margin-top: 100px;
}


                        /* sponspors container */


.fourth-container-details{
    font-size: 12px;
    text-align: center;
}
.fourth-img-container{
    flex-direction: column;
    align-items: center;
}
.image{
    margin-bottom: 30px;
    border: 1px dashed rgb(236, 19, 182);
    padding: 5px;
    border-radius: 5px;
}

                            /* footer-section */


.footer-section{
    display: flex;
    font-size: 12px;
    width: 410px;
    margin-left: 30px;

}
}